    <footer>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident non quia, repellat eos totam facere unde ut officiis ad pariatur aliquam vel alias vitae commodi qui eligendi rem necessitatibus deleniti!</p>
    </footer>
</body>
</html>