<section id="sidebar">
    <div id="links">
        <a href="/usuarios/panel"><strong>Resumen</strong></a>
        <a href="#"><i class="fa-solid fa-square-binary"></i> Modelos</a>
        <a href="/usuarios/claves-api"><i class="fa-solid fa-key"></i> Claves de API</a>
        <hr>
        <a href="/usuarios/ajustes"><i class="fa-solid fa-gear"></i> Ajustes de cuenta</a>
        <a href="#"><i class="fa-solid fa-credit-card"></i> Plan</a>
    </div>
</section>