<section id="sidebar">
    <div id="links">
        <a href="/usuarios/panel"><strong>Resumen</strong></a>
        <a href="/usuarios/servicios">Modelos</a>
        <a href="/usuarios/claves-de-api">Claves de API</a>
        <hr>
        <a href="/usuarios/ajustes"><i class="fa-solid fa-gear"></i> Ajustes de cuenta</a>
        <a href="/usuarios/plan"><i class="fa-solid fa-credit-card"></i> Plan</a>
    </div>
</section>