<%- include("../../segments/top") %>
<%- include("../../segments/nav") %>
<header>
    <div class="overlay"></div>
    <div class="content">
        <h1>API</h1>
        <p>JCEMS Storm Detector</p>
        <p>/api/aire/jcems_storm_detector/</p>
    </div>
</header>
<main>
    <section id="endpoints">
        <h2>Endpoints</h2>
        <p>Todos los endpoints requieren de una clave de API para acceder a ellos</p>
    </section>
</main>
<%- include("../../segments/bottom") %>