<%- include("../../segments/top") %>
<%- include("../../segments/nav") %>
<header>
    <div class="overlay"></div>
    <div class="content">
        <h1>JCEMS Storm Detector</h1>
        <p>Para que nunca más te sorprenda una tormenta.</p>
        <a href="#"><i class="fa-solid fa-cloud-bolt"></i> Comenzar</a>
        <a href="/aire/JCEMS_Storm_Detector/api"><i class="fa-solid fa-code"></i> API</a>
    </div>
</header>
<main>
    <section id="features">
        <h2>Descubre lo que <strong>JCEMS Storm Detector</strong> te ofrece</h2>
        <div class="info-row">
            <img src="/img/4.png">
            <div>
                <h1>Detección en tiempo real</h1>
                <p>JCEMS Storm Detector siempre está al pendiente ante cualquier tormenta. Cuando detecta una tormenta, hace un estimado de su intensidad y desplazamiento.</p>
            </div>
        </div><div class="info-row">
            <div>
                <h1>Alertas personalizables</h1>
                <p>Si una tormenta se desarrolla cerca de tu ubicación, o si se mueve hacia ella, JCEMS Storm Detector te lo hará saber antes de escuchar el primer trueno.</p>
            </div>
            <img src="/img/5.png">
        </div>
    </section>
</main>
<%- include("../../segments/bottom") %>