<%- include("./segments/top") %>
<%- include("./segments/nav") %>
<header>
    <div class="overlay"></div>
    <form class="content">
        <h1>Contacto</h1>
        <section>
            <div class="user-data">
                <label for="subject">Asunto</label><input id="subject" type="text" required>
                <label for="firstname">Nombre</label><input id="firstname" type="text" required>
                <label for="lastname">Apellido</label><input id="lastname" type="text" required>
                <label for="email">Correo electrónico</label><input id="email" type="email" placeholder="ejemplo@ejemplo.com" required>
                <button class="button-large-screen">Enviar</button>
            </div><div class="msg">
                <label for="message">Mensaje</label><textarea name="message" placeholder="Escriba su mensaje..." required rows="11"></textarea>
                <button class="button-small-screen">Enviar</button>
            </div>
        </section>
    </form>
</header>
<%- include("./segments/bottom") %>