<%- include("./segments/top") %>
<%- include("./segments/nav") %>
<header>
    <div class="overlay"></div>
    <div class="content">
        <h1>JCEMS</h1>
        <p>Modelando los cuatro elementos aristotélicos para fines prácticos</p>
    </div>
</header>
<main>
    <section>
        <h1 class="section-header">Soluciones prácticas para...</h1>
        <div class="info-row">
            <img src="./img/0.jpg">
            <div>
                <h1>Agricultura</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique saepe hic, quaerat magni voluptatem porro et dolores adipisci doloribus! Quis, assumenda dolor. Quibusdam corporis nesciunt perferendis aut placeat deserunt ab?</p>
                <button>Ver más sobre agricultura</button>
            </div>
        </div><div class="info-row">
            <div>
                <h1>Gestión forestal</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa molestiae voluptates, obcaecati iure ipsam laboriosam mollitia molestias libero exercitationem? Nostrum iste numquam totam labore illo soluta ullam vitae amet velit.</p>
                <button>Ver más sobre gestión forestal</button>
            </div>
            <img src="./img/2.jpg">
        </div><div class="info-row">
            <img src="./img/1.jpg">
            <div>
                <h1>Meteorología</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste maxime est obcaecati, tenetur at ad enim amet. Nemo, quis? Doloribus porro dolorem enim id sit debitis praesentium, deserunt qui vel.</p>
                <button>Ver más sobre meteorología</button>
            </div>
        </div>
    </section><section>
        <h1 class="section-header">Con 0 años de servicio</h1>
        <p class="section-introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio architecto tempore eius aliquam tempora repudiandae magni numquam commodi cumque asperiores neque, molestiae, quo iusto eos odit voluptatum, assumenda quis.</p>
        <div class="review-list">
            <div class="review">
                <p class="stars">
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star not-awarded"></i>
                </p>
                <p class="review-content">"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur repellat natus, similique iure consequuntur alias repellendus quidem at quasi modi eligendi inventore voluptatibus provident error, earum illum aliquam. Voluptates, dolorum?"</p>
                <p class="review-writer">Ernesto Fausta Estefany Moros</p>
            </div><div class="review">
                <p class="stars">
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                </p>
                <p class="review-content">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dignissimos ab, voluptatem labore, voluptas porro, voluptatum dolor ut earum iusto modi quam. Accusamus consequatur magnam natus obcaecati deserunt, ducimus nisi?"</p>
                <p class="review-writer">Incendio Sánchez Rodríguez</p>
            </div><div class="review">
                <p class="stars">
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star awarded"></i>
                    <i class="fa-solid fa-star not-awarded"></i>
                </p>
                <p class="review-content">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, nihil dolore. Ullam nesciunt autem porro aut sed, quis totam reprehenderit corrupti aperiam magni culpa perferendis, rerum a voluptatem quasi est?"</p>
                <p class="review-writer">Mario María Gómez Loera</p>
            </div>
        </div>
    </section>
</main>
<%- include("./segments/bottom") %>