<%- include("./segments/top") %>
<%- include("./segments/nav") %>
<header>
    <div class="overlay"></div>
    <div class="content">
        <h1>Planes</h1>
    </div>
</header>
<main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi laborum molestiae soluta voluptate dicta, earum id quis atque porro officia nisi assumenda odit natus voluptatum, asperiores esse accusamus exercitationem.</p>
    <table id="comparison-table">
        <tr>
            <th></th>
            <th class="name">Básico</th>
            <th class="name">Plus</th>
            <th class="name">Profesional</th>
        </tr><tr>
            <th></th>
            <th class="price">Gratis<span>por siempre</span></th>
            <th class="price">$4.99<span>por mes</span></th>
            <th class="price">$14.99<span>por mes</span></th>
        </tr><tr>
            <th colspan="4">Productos</th>
        </tr><tr>
            <th>JCEMS Skew-T log-P</th>
            <td>5<br/><span>sondeos / día</span></td>
            <td>50<br/><span>sondeos / día</span></td>
            <td>10,000<br/><span>sondeos / día</span></td>
        </tr><tr>
            <th>JCEMS StormDetector</th>
            <td>3<br/><span>ubicaciones</span></td>
            <td>30<br/><span>ubicaciones</span></td>
            <td>300<br/><span>ubicaciones</span></td>
        </tr><tr>
            <th colspan="4">APIs</th>
        </tr><tr>
            <th>General</th>
            <td>120<br/><span>llamadas / minuto</span></td>
            <td>12,000<br/><span>llamadas / minuto</span></td>
            <td>120,000<br/><span>llamadas / minuto</span></td>
        </tr><tr>
            <th>JCEMS Storm API</th>
            <td>500<br/><span>llamadas / mes</span></td>
            <td>100,000<br/><span>llamadas / mes</span></td>
            <td>Ilimitadas<br/><span>llamadas / mes</span></td>
        </tr>
    </table>
</main>
<%- include("./segments/bottom") %>