<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">JCEMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planes"><i class="fa-solid fa-tag"></i> Planes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-droplet"></i> Agua</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Todos los modelos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">JCEMS Hydrocast</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-wind"></i> Aire</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Todos los modelos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-section"><strong>Atm칩sfera</strong></a>
                        <a class="dropdown-item" href="/aire/JCEMS_Skew-T_log-P">JCEMS Skew-T log-P</a>
                        <a class="dropdown-item" href="#">JCEMS Mayab</a>
                        <a class="dropdown-item" href="#">JCEMS NEMx</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-section"><strong>Aerodin치mica</strong></a>
                        <a class="dropdown-item" href="#">JCEMS Aerocast</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-fire"></i> Fuego</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Todos los modelos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">JCEMS Firecast</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-seedling"></i> Tierra</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Todos los modelos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">JCEMS Earthcast</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto"><i class="fa-solid fa-envelope"></i> Contacto</a>
                </li>
                <% if(!user){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios/acceso"><i class="fa-solid fa-right-to-bracket"></i> Acceder</a>
                    </li>    
                <% } else { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i> Mi cuenta</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/usuarios/panel"><i class="fa-solid fa-right-to-bracket"></i> Panel de usuario</a>
                            <a class="dropdown-item" href="/usuarios/ajustes"><i class="fa-solid fa-gear"></i> Configuraci칩n</a>
                            <a class="dropdown-item" href="/usuarios/claves-api"><i class="fa-solid fa-code"></i> Claves de API</a>
                            <a class="dropdown-item" href="/usuarios/planes"><i class="fa-solid fa-credit-card"></i> Plan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sesiones/cerrar"><i class="fa-solid fa-user-minus"></i> Cerrar sesi칩n</a>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>